.group-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-xs);
    background-color: var(--brand-1);
    width: 3.75rem;
    height: 3.75rem;
  }
  .frame-icon {
    position: absolute;
    top: 0.94rem;
    left: 0.94rem;
    width: 1.88rem;
    height: 1.88rem;
    overflow: hidden;
  }
  .rectangle-parent {
    position: relative;
    width: 3.75rem;
    height: 3.75rem;
  }
  .sidebar,
  .sidebar-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    box-shadow: 0 1px 50px rgba(0, 0, 0, 0.08);
    flex-direction: column;
    padding: 16.63rem 1.25rem;
    gap: 1.75rem;
    height: 100vh;
}
.proximas-consultas-agendadas {
  letter-spacing: -0.03em;
  font-weight: 700;
  font-size: 1.7rem;
  margin-bottom: 2rem;
  margin-top: 6rem;
}
  .ellipse-div {
    position: relative;
    border-radius: 50%;
    background-color: #d9d9d9;
    width: 3.38rem;
    height: 3.38rem;
  }
  .nome-do-medico,
  .s-15h {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .nome-do-medico {
    line-height: 150%;
    width: 19.81rem;
    height: 1.63rem;
  }
  .s-15h {
    font-size: 0.88rem;
    line-height: 1.31rem;
    font-weight: 500;
    color: var(--icone-input);
    width: 19.19rem;
    height: 4.13rem;
  }
  .frame-group,
  .nome-do-medico-parent {
    display: flex;
    justify-content: flex-start;
  }
  .nome-do-medico-parent {
    width: 9.06rem;
    height: 3.31rem;
    flex-direction: column;
    align-items: flex-start;
  }
  .frame-group {
    flex-direction: row;
    align-items: center;
    gap: 1.13rem;
  }
  .confirmar-consulta {
    position: relative;
    font-size: 11px;
    font-weight: 400;
}
  .confirmar-consulta-wrapper {
    border-radius: var(--br-3xs);
    background-color: rgba(144, 223, 158, 0.43);
    border: 2px solid var(--color-darkgray-100);
    padding: var(--padding-3xs);
  }
  .confirmar-consulta-wrapper,
  .frame-container,
  .reagendar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .reagendar-wrapper {
    border-radius: var(--br-3xs);
    background-color: rgba(233, 93, 92, 0.2);
    border: 2px solid var(--color-darkgray-100);
    padding: var(--padding-3xs);
  }
  .frame-container {
    gap: 0.88rem;
    font-size: var(--font-size-xs);
    color: var(--color-dimgray);
    font-family: var(--font-manrope);
  }
  .vector-icon {
    position: relative;
    width: 1.25rem;
    height: 0.86rem;
  }
  .vector-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent,
  .macbook-air-5 {
    background-color: var(--color-white);
    overflow: hidden;
  }
  .frame-parent {
    border-radius: 20px;
    box-shadow: var(--sombra-1);
    display: flex;
    flex-direction: row;
    padding: 1.5rem 2rem;
    align-items: center;
    justify-content: flex-start;
    gap: 5.5rem;
    font-size: 1rem;
    color: var(--preto);
}
  .macbook-air-5 {
    position: relative;
    width: 100%;
    height: 80.94rem;
    text-align: left;
    font-size: 2rem;
    color: var(--brand-1);
    font-family: var(--font-inter);
  }
  
  .sidebar-inner.active {
    color: #0d6efd;
}
.sidebar-inner {
  cursor: pointer;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  border: unset;
  box-shadow: unset!important;
}