@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap'); 

body {
  background: #FAFAFA;
}
button {
  padding: 0.875rem 2rem;
  background: #F88441;
  border: 1px solid #F88441;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  margin-top: 0.5rem;
}

button {
  transition: 0.4s all;
}

a {
  text-decoration: none;
  color: #646464;
}

a:hover, a:focus, a:active {
  color: #E66319;
  text-decoration: none;
}

nav.navbar {
  background: #fff;
}